body * {
	box-sizing: border-box;
}
.body {
	background-color: rgba(53, 235, 255, 0.934);
}

.div {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 15px;
	background-color: rgb(208, 231, 252);
	border: 3px dotted #000;
	border-radius: 10px;
}
.title-1 {
	padding-top: 10px;
	max-width: 507px;
	font-family: Oswald;
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #d72020;
	margin: 0 auto 50px auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
.text-1 {
	font-weight: 500;
	font-family: Ubuntu;
	line-height: 130%;
	color: #184da9;
	margin-bottom: 40px;
	max-width: 700px;
}

.title-2 {
	max-width: 180px;
	font-family: Oswald;
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #d72020;
	margin: 0 auto 20px auto;
}

.title-3 {
	max-width: 165px;
}

.list-1 {
	margin-bottom: 40px;
	padding-left: 15px;
}

.cls-1 {
	margin-bottom: 10px;
	font-weight: 500;
	font-family: Ubuntu;
	line-height: 130%;
	color: #184da9;
	max-width: 700px;
}
